<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Novo Profissional </mat-panel-title>
      <mat-panel-description>
        Preencha os dados do novo profissional
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form [formGroup]="form" (ngSubmit)="criaProfissional()">
      <div class="row">
        <div class="col-4">
          <mat-form-field class="example-full-width">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome" />
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field class="example-full-width">
            <mat-label>CPF</mat-label>
            <input matInput formControlName="cpf" />
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field class="example-full-width">
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="telefone" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <mat-form-field class="example-full-width">
            <mat-label>Data de nascimento</mat-label>
            <input matInput formControlName="data_nascimento" />
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field class="example-full-width">
            <mat-label>Endereço</mat-label>
            <input matInput formControlName="endereco" />
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field class="example-full-width">
            <mat-label>CEP</mat-label>
            <input matInput formControlName="cep" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <mat-form-field class="example-full-width">
            <mat-label>Cidade</mat-label>
            <input matInput formControlName="cidade" />
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field class="example-full-width">
            <mat-label>Estado</mat-label>
            <input matInput formControlName="estado" />
          </mat-form-field>
        </div>
        <div class="col-4">
          <button mat-raised-button color="primary" type="submit">
            Salvar
          </button>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
